:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html {
	height: 100%;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: linear-gradient(rgba(13, 19, 36, 0.75), rgba(13, 19, 36, 0.75)), url("/images/blurred-bg.png");
	background-size: cover;
	backdrop-filter: blur(12px);
	font-family: var(--font-google-sans), Helvetica, sans-serif;
	height: 100vh;
	background-position: center;
	color: #68b3dd;
	display: flex;
	flex-direction: column;
	padding-top: env(safe-area-inset-top);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline;
}

nav {
	padding: 2rem;
	width: 100%;
	font-size: 1.25rem;
	font-weight: 700;
}

nav li {
	list-style: none;
	display: inline;
	padding: 0 2rem 0 0;
}

footer {
	height: 40%;
	background: url("/images/footer-bg.jpeg");
	background-size: cover;
}
